js/*
*.bak
development-bundle/*
src/*
FusionCharts*

/css/ui.daterangepicker.css
/css/colorPicker.css
/css/jquery.toChecklist.min.css
/css/redmond
/css/images
/css/swanky-purse
/css/images
/css/redmond
/css/ui.jqgrid.css